body {
  font-family: "Segoe UI",Arial,sans-serif;
}

.fade {
  animation: fade 2s 1 ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

.single4 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #cceecc;
  border-top-color: #9FBF9F;
  border-bottom-color: #9FBF9F;
  -webkit-animation: single4 2.5s infinite ease-in-out;
  animation: single4 2.5s infinite ease-in-out;
}

@-webkit-keyframes single4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
}

@keyframes single4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
}
